

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(104, 129, 181);
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    margin-top: 0;
    height: 60px;  
}

body {
    padding: 20px;
    background-color: rgb(9, 16, 54);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}

li {
    list-style: none;  
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    }


.navbar  {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    }

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;  
    }


.my-name {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    font-size: 24px;
    font-family:cursive;
    font-weight: bold;
    color:rgb(215, 183, 183);
    }


.nav-link {
    transition: 0.7 ease;
}
    
.nav-link:hover {
    color: rgb(17, 3, 106)
}



.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    display:block;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    margin: 5px auto; 
    -webkit-transition: all .3s ease-in-out;;
    transition: all .3s ease-in-out;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.container img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
#about p {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

 .exp  {
    background-color: rgb(104, 129, 181);
    color: rgb(215, 183, 183);
    margin: 20px;
    padding: 5px;
}

 #experience ul {
    list-style: none; 
    
    
}
.exp-flex {
    display: flex;
    flex-direction: column;   
}

.topskills li {
    background-color: rgb(104, 129, 181);
    color: rgb(215, 183, 183);
    border: 3px solid rgb(119, 110, 180);
    margin: 20px;
    padding: 5px;
}

.topskills {
    display: flex;
    flex-direction: row;
}

#skills ul {
    list-style: none;    
}

.itallic {
    margin-top: 30px;
    color:  rgb(187, 184, 227);
    font-style: italic;
    font-size: 24px;
    padding: 30px;
}

#projects {
    padding: 0px;
}

#projects ul {
    margin: 20px;
    font-size: 18px;
    color: rgb(187, 184, 227);
    
}

#connect ul {
    list-style: none;
    font-size: 18px;
    margin: 20px;
}

.my-form {
    margin: 20px;
}

.my-form input  {
    padding: 8px;
    width: 40%;
    background-color: rgb(119, 110, 180);
}  

.my-form label {
    display: block;
}

.my-form textarea {
    padding: 8px;
    width: 40%;
    background-color: rgb(119, 110, 180);
}

.my-form button {
    background-color: rgb(61, 120, 61);
    color: rgb(187, 184, 227);
    border: none;
    font-size: 14px;
    width: 40%;
    padding: 5px;
}

.copyright {
    font-style: italic;
}


.my-form  {
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
}

.copyright {
    margin-top: 40px;
    text-align: center;
}

  
 
@media only screen and (max-width: 768px) {
.my-name {
     width: auto;
}


.nav-list {
    position: fixed;
    left: -100%;
    top: 60px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(104, 129, 181);
    transition: .5s ease-in-out;
    gap: 40px;
}


.nav-list.active {
    left: 0;
}

.nav-list a {
    font-size: 18px;
}

.itallic {
    font-size: 20px;
}

#about p {
    font-size: 16px;
}


.my-form button {
    font-size: 14px;
}
   
.hamburger { 
    display: block;
}
   
    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(225deg);
    }
    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-225deg);
    }
    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }
    
}
