

* {
    padding: 5px;
}

body {
    background-color: rgb(9, 16, 54);
    color: rgb(187, 184, 227);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0.9;
}


nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin-top: 0;
    height: 60px;
    
    
}
nav .my-name {
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family:cursive;
    font-weight: bold;
    color:rgb(215, 183, 183);
    margin-left: 10px;
}
    

 nav .nav-list  {
   float: right;
    padding-top: 4px;
    margin: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav .nav-list li {
    list-style: none;
}

nav .nav-list a {
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: rgb(187, 184, 227);
    }
    
    a:hover {
        text-decoration: underline;
    
    }
    a:active {
        color: green;
    }


#about p {
    margin: 20px;
    font-size: 1.2em;
}
 .exp  {
    background-color: rgb(104, 129, 181);
    color: rgb(215, 183, 183);
    margin: 20px;
}
 #experience ul {
    list-style: none; 
}

.topskills li {
    background-color: rgb(104, 129, 181);
    color: rgb(215, 183, 183);
    border: 3px solid rgb(119, 110, 180);
    margin: 20px;
    
}
#skills ul {
    list-style: none;
}
.itallic {
    margin-top: 3rem;
    color: white;
    font-style: italic;
}

#connect ul {
    list-style: none;
    font-size: 1.2em;
    margin: 20px;
}
.my-form {
    margin: 20px;
}

.my-form input  {
    padding: 8px;
    width: 20%;
    background-color: rgb(119, 110, 180);
}      
.my-form label {
    display: block;
} 
.my-form textarea {
    padding: 8px;
    width: 20%;
    background-color: rgb(119, 110, 180);
}
.my-form button {
    background-color: rgb(61, 120, 61);
    color: rgb(187, 184, 227);
    border: none;
    font-size: 15px;
    width: 20%;

}
.copyright {
    font-style: italic;
}

.exp-flex {
    display: flex;
    
}
.my-form  {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}


  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
 
   .nav-list {
    flex-wrap: wrap;
   }

  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .exp-flex {
        flex-direction: column;
    }
   
  }
  .nav-list {
    flex-wrap: wrap;
   }

  
  
}

